@import url('https://fonts.googleapis.com/css2? family= Schibsted+Grotesk:wght@400;700 & display=swap');

*{
    box-sizing: border-box;
}
header{
    display: flex;
    min-height: 90px;
    background-color: #fbfbfb;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0
}

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 150px;
    width: 150px;
    margin-right: 10px;
}

.logo2{
    height: 150px;
    width: 150px;
}

nav a{
    font-weight: 500;
    padding-right: 15px;
}

nav a:hover{
    color: aliceblue;
}

.nombre{
    color:#af599e;
    font-size:36px;
    justify-content: flex-start;
}

.main{
    margin: auto;
    text-align: center;
    font-family: "Schibsted+Grotesk", sans-serif;
    justify-content: center;
}
@media screen and (max-width: 700px){
    main{flex-direction: column;
    }
}

.seccion{
    min-height: 100vh;
}

.inicio-made{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    border:100px
}

img{
    width: 400px;
    height: 400px;
}

.inicio-consulta{
    font-size: 18px;
    font-weight: 200;
    line-height: 20px 20px;
    margin: 20px;
}

.principal-boton{
    font-size: 20px;
    background-color: #af599e;
    color: #fbfbfb;
    border: none;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
    margin: 50px;
}

.hablemos{
    text-align: center;
    padding: 40px 40px;
    font-size: 28px;
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    line-height: 20px 20px;
}

.ha{
    padding: 40px 40px;
    font-size: 28px;
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    line-height: 20px 20px;
}

.p{
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin: 15px 15px;
    padding: 100px 155px;
}

.iconos{
    display: inline;
    padding: 20px;
}

.corre1{
    width: 100px;
    height: 100px;
}

.linke1{
    width: 100px;
    height: 100px;
}

.git1{
    width: 100px;
    height: 100px;
}

@media (max-width:400px){
    .correo,.like, .git{
        flex-direction: row;
        align-items: center;
    }
}

.h3{
    font-size: 10px;
    color: #fbfbfb;
}

.pagina{
    text-align: center;
    margin-top: auto;
}

footer{
    background-color:darkmagenta;
    box-sizing: border-box;
    align-content: center;
    display: flex;
    justify-content: center;
    min-height: 90px;
}
